.topseries__container {
  background-color: #12101b;
  height: auto;
  width: 100%;
  position: relative;
  padding-top: 70px;
  z-index: 1;
  padding-bottom: 50px;
}

.topseries__subtitle {
  color: #e2d703;
  font-size: 15px;
  text-align: center;
}

.topseries__title {
  color: #fff;
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
  font-weight: 900;
}

.topseries__movies-list--box {
  display: flex;
  height: auto;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 70px;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
